@font-face {
    font-family: 'ibm_plex_sansregular';
    src: url('/fonts/ibmplexsans-regular-webfont.woff2') format('woff2'),
         url('/fonts/ibmplexsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold_italic';
    src: url('/fonts/montserrat-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/montserrat-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.hidden {
    display: none;
}

/* * {
    border: solid 1px;
} */

#container {
    width: 428px;
    margin: 20px auto;
    border: solid 1px #333;
    background-color: white;
    border-radius: 10px;
}

article {
    grid-column: 1/-1;
}

body {
    font-family: ibm_plex_sansregular;
    font-weight: normal;
    line-height: 30px;
}

p span {
    font-family: montserratbold_italic;
    font-weight: normal;
    color: rgb(255, 81, 0);
    letter-spacing: -0.4px;
    margin-right: 2px;
}

img {
    
    background-repeat: no-repeat;
    margin: 30px -20px -9px;
}

article div img {
    margin: 50px 0px 40px -20px;
}

#main-photo {
    border-radius: 10px 10px 0 0;
    position: absolute;
    margin: 0px -20px;
}

#mainContent {
    display: grid;
    grid-template-columns: repeat(4, 85px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.text-logo {
    font-family: montserratbold_italic;
    font-weight: normal;
    font-size: 70px;
    margin-top: 40px;
    margin-bottom: 480px;
    letter-spacing: -1px;
    text-shadow: -5px 0 rgba(255, 0, 0, 0.6);
    text-align: center;
    line-height: 140px;
    transform: skew(0, -8deg);
    background-image: linear-gradient(to bottom, rgb(255, 81, 0), rgb(255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-bg-gray {
    background-color: #666;
    color: white;
    margin: 0px -20px 40px;
    padding: 30px 40px;
}

.text-bg-red {
    background-color: rgb(255, 81, 0);
    color: white;
    transform: skew(0, -8deg);
    margin: 50px -20px 80px;
    padding: 30px 40px;
    font-style: italic;
}

.text-bg-red span {
    color: white
}

.text-bg-gray2 {
    background-color: #666;
    color: white;
    margin: -50px -20px;
    padding: 30px 40px;
}

.bar {
    background-color: #666;
    margin: 40px -20px 25px;
    padding: 20px 0;
}

#last-photo {
    border-radius: 0 0 10px 10px;
}